
<div class="card-custom">
  <div class="card-body">
    <h1 class="fw-bold m-0"><i class="fa-solid fa-wallet fs-1 m-2"></i>Payroll Process</h1>
  </div>
</div>
<mat-divider class="m-2"></mat-divider>


<div class="container-fluid">

  <div class="ms-5">
    <form [formGroup]="processForm" (ngSubmit)="processPayroll()">
      <div style="width: 200px; display: inline-block">

        <label>Select Employee</label>
        <select class="form-select" formControlName="employeeId">
          <option value="-1">All</option>
          <option *ngFor="let emp of employeeList;" [value]="emp.id">
            {{emp.firstName}}</option>

        </select>
      </div>
      <div style="
        width: 200px;
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
      ">
        <div class="form-group">
          <label>Select Period</label>
          <input type="month" matInput class="form-control" formControlName="period" />
        </div>
      </div>
      <button class="btn btn-primary ms-3" type="submit">Generate Payroll</button>
    </form>
  </div>






  <div class="mt-3">
    <table class="table">
      <thead>
        <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Department</th>
          <th>Designation</th>
          <th>Period</th>
          <th>Gross Salary</th>
          <th>Net Salary</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payroll of payrollList ; let i = index">
          <td> {{i + 1}} </td>
          <td> {{payroll.firstName}} </td>
          <td> {{payroll.departmentName}} </td>
          <td> {{payroll.jobTitle}} </td>
          <td> {{payroll.period | date: "MMMM - YYYY"}} </td>
          <td> {{payroll.grossSalary | currency : "Tk "}} </td>
          <td> {{payroll.netSalary | currency : "Tk "}} </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="payrollDetails(payroll.id ?? -1)">Details</button>
            <button class="btn btn-sm btn-warning ms-2" (click)="deletePayroll(payroll.id ?? -1)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>