<mat-card class="mat-card">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title> {{title}} </mat-card-title>
    </mat-card-header>
    <form [formGroup]="designationForm" (ngSubmit)="submitForm()">
      
      <div class="row">
        <div class="col=12">
          <mat-form-field class="form-field">
            <mat-label>Job Title</mat-label>
            <input
              matInput
              placeholder="New Job Title"
              formControlName="jobTitle"
            />
          </mat-form-field>
    
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Min Salary</mat-label>
            <input
              input="number"
              matInput
              placeholder="Min Salary"
              formControlName="minSalary"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          
      <mat-form-field class="form-field">
        <mat-label>Max Salary</mat-label>
        <input type="number" matInput placeholder="Max Salary" formControlName="maxSalary" />
      </mat-form-field>
        </div>
        <div class="col-6">
          
      <mat-form-field class="form-field">
        <mat-label *ngIf="!editing">Total Post</mat-label>
        <mat-label *ngIf="editing">Add new Post</mat-label>
        <input type="number" matInput placeholder="Total Post" formControlName="totalPost" />
      </mat-form-field>
        </div>
        <div class="col-6">
          
      <mat-form-field *ngIf="!editing">
        <mat-label>Select Department</mat-label>
        <mat-select formControlName="departmentId">
          <mat-option *ngFor="let dep of getDepartmentList" value= {{dep.id}}> {{dep.departmentName}} </mat-option>
          <!-- <mat-option value=1>Account</mat-option>
          <mat-option value=1>Salse</mat-option> -->
        </mat-select>
        <mat-hint>Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>
        </div>
      </div>



      <input
        type="submit"
        class="btn btn-primary d-block mx-auto"
        value="submit"
      />
      <!--
              <mat-form-field class="form-field">
                  <mat-label>Password</mat-label>
                  <input matInput type="password">
              </mat-form-field>
  
             
              
        <mat-form-field class="form-field">
          <mat-label>Hire Date</mat-label>
          <input matInput type="date" formControlName="hireDate" />
        </mat-form-field>
  
              <mat-checkbox>Hide required marker</mat-checkbox>
              <div>
                  <label>Float label: </label>
                  <mat-radio-group>
                    <mat-radio-button value="auto">Auto</mat-radio-button>
                    <mat-radio-button value="always">Always</mat-radio-button>
                  </mat-radio-group>
                </div>
  
                -->
    </form>
  </mat-card-content>
</mat-card>
