
<div class="container-fluid">
    <!-- Breadcrumb -->
    <h3 class="fw-bold">
      <i class="fa-solid fa-umbrella-beach fs-3 m-2"></i> Holidays
    </h3>
    <!-- /Breadcrumb -->
    <mat-divider class="m-2"></mat-divider>
    <div style="float: right" class="m-2">
      <button mat-raised-button style="background-color: #421820; color: #faf9f7">
Add Holiday      </button>
    </div>
  
  
    <table class="table table-striped mt-5">
      <thead><tr>
          <th>#</th>
          <th>Title</th>
          <th>Holiday Date</th>
          <th>Day</th>
      </tr></thead>
      <tbody>
          <tr></tr>
      </tbody>
    </table>
  
  </div>
  
