<div class="container-fluid">
    <h1 class="fw-bold"><i class="fa-solid fa-building-user fs-1 m-2"></i>Departments</h1>
    <!-- /Breadcrumb -->
    <mat-divider class="m-2"></mat-divider>
      <div style="float: right;" class="m-2">
        <button mat-raised-button 
        style="background-color: #421820; color:#faf9f7 ;" 
        (click)="openDialog()">Create New Department</button>
    </div>


    <table class="table table-hover table-striped w-100" >
        <thead><tr class="text-center">
                <th scope="row">#</th>
                <th scope="row">Department Name</th>
                <th scope="row">Description</th>
                <th scope="row"></th>
            </tr>
        </thead>    
    
    <tbody>
        <tr *ngFor="let dep of getDepartmetns(); let i = index;" class="text-center">
            <th scope="col"> {{ i + 1}} </th>
            <td> {{ dep.departmentName }} </td>
            <td> {{ dep.departmentDesc }} </td>
            
                <td>
                    <a [matMenuTriggerFor]="menu1">
                      <i class="fa-solid fa-bars fs-4 textColor" style="cursor: pointer; margin: 0;"></i>
                      <mat-menu #menu1="matMenu">
                        <button mat-menu-item [routerLink]="['/department', 'edit', dep.id]" >
                          <mat-icon >create</mat-icon>Update
                        </button>
                        <button mat-menu-item>
                          <mat-icon >info</mat-icon>Details
                        </button>
                      </mat-menu>
                    </a>
                  </td>
            
        </tr>
    </tbody>
    
    </table>
</div>
