
<div class="container-fluid">

 
  <h1 class="fw-bold"><i class="fa-solid fa-users-between-lines fs-1 m-2"></i>Applicants</h1>
    <!-- /Breadcrumb -->
    <mat-divider class="m-2"></mat-divider>

    <!-- <button mat-button class="bg-primary mat-elevation-z8" [routerLink]="['/designation', 'add']">Create New Job</button> -->
   
    <table class="table table-hover table-striped w-100" >
        <thead><tr class="text-center">
                <th scope="row">#</th>
                <th scope="row">First Name</th>
                <th scope="row">Position</th>
                <th scope="row"> Department </th>
                <th></th>
            </tr>
        </thead>    
    
    <tbody>
        <tr *ngFor="let app of applicationList; let i = index;" class="text-center">
            <th scope="col"> {{ i + 1}} </th>
            <td> {{ app.firstName }} </td>
            <td> {{ app.jobTitle }} </td>
            <td> {{ app.departmentName }} </td>
            <td>
              <!-- <i class="fa-solid fa-file fs-4 textColor" [routerLink]="['/detailsApp', app.id]"  style="cursor: pointer; margin: 0;"></i> -->
                <a  [matMenuTriggerFor]="menu1">
                  <i class="fa-solid fa-bars fs-4 textColor" style="cursor: pointer; margin: 0;"></i>
                  <mat-menu #menu1="matMenu">
                    <button mat-menu-item [routerLink]="['/details','app', app.id]">
                      <i class="fa-solid fa-file textColor"></i>
                      Details
                    </button>
                    <button mat-menu-item 
                    [routerLink]="['/apply', 'edit', app.id]">
                      <i class="fa-solid fa-pen-to-square textColor"></i>
                      Edit
                    </button>
                  </mat-menu>
                </a>
              </td>
        </tr>
    </tbody>
    
    </table>
</div>
