
<mat-dialog-content class="mat-typography">
  <h1 class="text-center">Salary Details</h1>

  <table class="table p-5">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>Basic</th>
        <td> {{salary.basic}} </td>
      </tr>
      <tr>
        <th>Medical Allowance</th>
        <td> {{salary.medicalAllowance}} </td>
      </tr>
      <tr>
        <th>Provident Fund</th>
      <td> {{salary.providentFund}} </td>
    </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>