<mat-card class="mat-card">
    <mat-card-content>
        <mat-card-header>
            <mat-card-title>Add Employee</mat-card-title>
        </mat-card-header>
        <form>
            <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Your Name">
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Give your Email" required>
                <mat-error *ngIf="true">Email is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Date</mat-label>
                <input matInput type="date">
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Telephone</mat-label>
                <span matTextPrefix>+088 &nbsp;</span>
                <input type="tel" matInput placeholder="">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <mat-checkbox>Hide required marker</mat-checkbox>
            <div>
                <label>Float label: </label>
                <mat-radio-group>
                  <mat-radio-button value="auto">Auto</mat-radio-button>
                  <mat-radio-button value="always">Always</mat-radio-button>
                </mat-radio-group>
              </div>

              <mat-form-field>
                <mat-label>Select me</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-hint >Here's the dropdown arrow ^</mat-hint>
              </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>