<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <div class="row">
            <form [formGroup]="salaryForm" (ngSubmit)="submit()">
                <mat-form-field class="form-field">
                    <mat-label>Basic</mat-label>
                    <input matInput placeholder="Basic Salary" formControlName="basic" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Medical Allowance</mat-label>
                    <input matInput placeholder="Medical Allowance" formControlName="medicalAllowance" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Provident Fund</mat-label>
                    <input matInput placeholder="Provident Fund" formControlName="providentFund" />
                </mat-form-field>

                <mat-dialog-actions align="end">
                    <button mat-button mat-dialog-close>Cancel</button>
                    <button mat-button type="submit" [mat-dialog-close]="true" >Update</button>
                </mat-dialog-actions>
            </form>

        </div>

    </div>
</mat-dialog-content>

<!-- 
      <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
              </mat-dialog-actions>
 -->