<div class="nav-container">
  
    <app-topnav [sidenavValue]="shouldRun" (sidenav)="toggleSidenav($event)"
    style="position: stickf; top: 0;"
    ></app-topnav>
    <mat-sidenav-container autosize style="height: 100vh;">
      <!--Start of sidnav-->
      <mat-sidenav mode="side" [opened]="shouldRun" class="side-nav-container">
        <app-sidenav></app-sidenav>
  
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="w-100">
          <div class="m-2 textColor">
            <ng-content></ng-content>
          </div>
        </div>
  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  





<!-- Last  -->