<mat-sidenav-container class="nav-container">
  <!--Start of sidnav-->
  <mat-sidenav mode="side" [opened]="shouldRun" class="side-nav-container">
    <app-sidenav></app-sidenav>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Start of main navbar-->
    <app-topnav [sidenavValue]="shouldRun" (sidenav)="toggleSidenav($event)"></app-topnav>
  <!-- end of navbar -->
    <div class="w-100 h-100" (click)="sidenavClose()">
      <div class="m-2">
        <ng-content></ng-content>
      </div>
    </div>
  
     </mat-sidenav-content>
</mat-sidenav-container>




<!-- Last  -->

