<h2 mat-dialog-title>Add Salary</h2>
<mat-dialog-content class="mat-typography example">
    <div class="mt-2">
        <div class="row">
            <form [formGroup]="claimForm" (ngSubmit)="submit()">

                <mat-form-field class="form-field" appearance="outline" *ngIf="admin">
                    <mat-label>Employee Id</mat-label>
                    <mat-select formControlName="employeeId">
                        <mat-option *ngFor="let emp of employeeList" [value]="emp.id">
                          {{emp.firstName}} {{emp.lastName}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let category of categoryList" [value]="category.id">
                          {{category.name}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>



                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Claim Title" formControlName="title" />
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" formControlName="date" />
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" placeholder="0" formControlName="amount" />
                </mat-form-field>

                <mat-dialog-actions align="end">
                    <button mat-button mat-dialog-close class="bg-secondary">Cancel</button>
                    <!-- [mat-dialog-close]="true" -->
                    <button mat-button type="submit" class="colorMain"  >Add</button>
                </mat-dialog-actions>
            </form>

        </div>

    </div>
</mat-dialog-content>

<!-- 
      <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
              </mat-dialog-actions>
 -->
