
<div class="container-fluid">

   <!-- Breadcrumb -->
   <h3 class="fw-bold"><i class="fa-solid fa-users fs-3 m-2"></i>Employee</h3>
  <!-- /Breadcrumb -->
  <mat-divider class="m-2"></mat-divider>
    <div style="float: right;" class="m-2">
    <button mat-raised-button 
        style=" background-color: #354f52; color: #ffff;"
    (click)="openDialog()">Add Employee</button>
  </div>
   
    <table class="table table-hover table-striped w-100 "  >
    <thead ><tr class="text-center ">
            <th scope="row">#</th>
            <th scope="row">Firs Name</th>
            <th scope="row">Last Name</th>
            <th scope="row">Email</th>
            <th scope="row">Designation</th>
            <th scope="row">Department</th>
            <th></th>
        </tr>
    </thead>    

<tbody>
    <tr *ngFor="let emp of employeeTable; let i = index;" class="text-center">
        <th scope="col"> {{ i + 1}} </th>
        <td> {{emp.firstName}} </td>
        <td> {{emp.lastName}} </td>
        <td> {{emp.email}} </td>
        <td> {{emp.jobTitle}} </td>
        <td> {{emp.departmentName}} </td>
        <td>
          <!-- <i class="fa-solid fa-file fs-4 textColor" [routerLink]="['/detailsApp', app.id]"  style="cursor: pointer; margin: 0;"></i> -->
            <a  [matMenuTriggerFor]="menu1">
              <i class="fa-solid fa-bars fs-4 textColor" style="cursor: pointer; margin: 0;"></i>
              <mat-menu #menu1="matMenu">
                <button mat-menu-item [routerLink]="['/details','emp', emp.id]">
                  <i class="fa-solid fa-file textColor"></i>
                  Details
                </button>
                <button mat-menu-item 
                [routerLink]="['/profile', emp.id]">
                  <i class="fa-solid fa-user-tie textColor"></i>
                  Profile
                </button>
              </mat-menu>
            </a>
          </td>
    </tr>
</tbody>

</table>
</div>
