<mat-toolbar class="nav">
  <div>
    <button
      mat-icon-button
      aria-label="Example icon button with a menu icon"
      (click)="toggleSidenav(sidenavValue)"
    >
    <i class="fa-solid fa-list fs-3 fw-bold"></i>
    </button>
  </div>
  <div class="fs-4 fw-bolder mx-3"> {{user|uppercase}} ({{role|titlecase}}) </div>
  <span style="flex: 1 0 0"></span>
  <div >
    <h4 class="m-0 fw-bold"> {{date | date : 'EE, MMMM d-yyyy'}} </h4>
  </div>
  <div class="input-group p-2" style="width: 25%;">
    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Search"
      aria-label="Search Box"
      aria-describedby="search"
    />
    <span class="input-group-text btn searchBtn" id="search">Search</span>
  </div>
  
  <div>
    <mat-icon aria-hidden="false"
     aria-label="Example icon button with a menu icon"  
     [matBadge]="notification" 
     matBadgeColor="warn"
     (click)="openDialog()"
     class="mx-2 notiBtn"
     >notifications</mat-icon>
 
  </div>
  <div>
    <mat-icon (click)="logOut()" style="cursor: pointer;" class="ms-5"
      >exit_to_app</mat-icon
    >
  </div>
</mat-toolbar> 