<div class="container-fluid">
    <h3 class="fw-bold d-inline-block">
      <i class="fa-solid fa-coins fs-3 m-2"></i>Tax
    </h3>
    <!-- /Breadcrumb -->
    <mat-divider class="m-2"></mat-divider>
  
    <div style="float: right" class="m-2">
      <button
        mat-raised-button
        style=" background-color: #354f52; color: #ffff;"
        (click)="openDialog()"
      >
        Add Tax
      </button>
    </div>

   
    <h1 class="text-center">
      Current Income Tax Rate
    </h1>
  
    <table class="table table-hover table-striped w-75 mx-auto">
      <thead>
        <tr class="text-center">
          <th scope="row">#</th>
          <th scope="row">Min Income</th>
          <th scope="row">Max Income</th>
          <th scope="row">Tax Rate</th>
          <!-- <th scope="row">Designation</th>
              <th scope="row">Department</th> -->
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let tax of taxTable; let i = index; let l = last" class="text-center">
          <th scope="col">{{ i + 1 }}</th>
          <td *ngIf="!l">{{ tax.minRange | currency : "BDT " }}</td>
          <td *ngIf="l" colspan="2">More Than That</td>
          <td *ngIf="!l">{{ tax.maxRange | currency: "BDT "}}</td>
          <td >{{ tax.percentage+"%" }}</td>
          <!-- <td> {{emp.jobTitle}} </td>
          <td> {{emp.departmentName}} </td> -->
          <td>
            <!-- <i class="fa-solid fa-file fs-4 textColor" [routerLink]="['/detailsApp', app.id]"  style="cursor: pointer; margin: 0;"></i> -->
            <a [matMenuTriggerFor]="menu1">
              <i
                class="fa-solid fa-bars fs-4 textColor"
                style="cursor: pointer; margin: 0"
              ></i>
              <mat-menu #menu1="matMenu">
                <button
                  mat-menu-item
                  (click)="updateDialog(tax.id ?? -1)"
                >
                  <i class="fa-solid fa-file textColor"></i>
                  Update
                </button>
                <button mat-menu-item (click)="delete(tax.id ?? -1)">
                  <i class="fa-solid fa-user-tie textColor"></i>
                  Delete
                </button>
              </mat-menu>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
