
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    flex: 1,1,auto;
  }
 
  .sideNav-container{
    background: #421820;
    color: #ffffff;
  }
  
  li a {
   width: 100%;
   display: block;
    text-align: left;
    text-decoration: none;
    color: #e2eff1;
    font-weight: bolder;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  li a:hover {
    background-color: #ffffff;
    color: #91171F;  
  }

  li .active {
    background-color: #555273;
    size: 1.3rem;
    color: #e2eff1;
    font-weight: bolder;
  }

  .red-bg{
   background-color: #800a12;  
   color: #ffffff;
  }