<div class="colorSecondry h-100">
    <div>
      <img
        src="../assets/logo1.jpg"
        alt=""
        width="100px"
        style="display: block; margin: auto;"
      />
    </div>
    <ul>
      <li><a  routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
      <li><a routerLink="/emp"><mat-icon>group</mat-icon> Employee</a></li>
      <li><a routerLink="/profile" ><mat-icon>person</mat-icon> Profile &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/department">	<mat-icon> attach_money</mat-icon> Departments &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a  routerLink="/designation">	<mat-icon> attach_money</mat-icon> Designations &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/payroll">	<mat-icon> attach_money</mat-icon> Payroll &nbsp;&nbsp;&nbsp;</a></li>
    </ul>
  </div>
