<div class="sideNav-container h-100">
    <div>
      <img
        src="../assets/logo.webp"
        alt=""
        width="100px"
        style="display: block; margin: auto;"
      />
    </div>
    <ul>
      <li><a  routerLink="/dashboard"><i class="fa-solid fa-house fs-4 m-2"></i> Dashboard</a></li>
      <li><a routerLink="/employee"><i class="fa-solid fa-users fs-4 m-2"></i> Employee</a></li>
      <li><a routerLink="/profile" ><i class="fa-solid fa-user-tie fs-4 m-2"></i> Profile &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/department">	<i class="fa-solid fa-building-user fs-4 m-2"></i> Departments &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a  routerLink="/designation">	<i class="fa-solid fa-users-line fs-4 m-2"></i> Jobs &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/payroll">	<i class="fa-solid fa-wallet fs-4 m-2 "></i> Payroll &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/application">	<i class="fa-solid fa-user-plus fs-4 m-2"></i> Vacancies &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/application">	<i class="fa-solid fa-user-plus fs-4 m-2"></i> Policies &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/application">	<i class="fa-solid fa-user-plus fs-4 m-2"></i> Reports &nbsp;&nbsp;&nbsp;</a></li>
      <li ><a routerLink="/application">	<i class="fa-solid fa-user-plus fs-4 m-2"></i> Setting &nbsp;&nbsp;&nbsp;</a></li>
    </ul>
  </div>
