/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.colorMain{
    background-color:#421820;
    color: #fdf0d5;
}

.example::-webkit-scrollbar {
    display: none;
}

.colorSecondry{
    background-color:#003049;
    color: #fdf0d5;
}

.textColor{
    color:#284b63;
}

.btnAdd{
    background: #354f52;
    color: #ffff;
}


// nav #284b63
// sidenab  #3c6e71
// text #353535