

<mat-dialog-content class="mat-typography">
  <div class="card">
    <div class="card-body" style="color: #555273; background-color: #fcfcfc">
      <p class="text-center fs-3 fw-medium">
        Payslip For THE MONTH OF {{payroll.period | date: "MMMM - YYYY"}}
      </p>
      <div class="d-flex flex-row">
       
        <div style="flex: auto"></div>
        <div>
          <p>PAYSLIP #</p>
        </div>
      </div>
      <div>
        <p style="margin: 0">Name</p>
        <p style="margin: 0">Designation</p>
        <p style="margin: 0">TIN: </p>
        <p>Joning Date: </p>
      </div>
      <div class="row gap-4">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <h1 style="margin: 0">Earnings</h1>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Basic</th>
                <td>{{payroll.basicSalary}} </td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Medical Allowence</th>
                <td>{{payroll.providentFund}} </td>
              </tr>
              <tr>
                <th scope="row">Total Earnings</th>
                <td> {{payroll.grossSalary}} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover">
            <thead>
              <h1 style="margin: 0">Deductions</h1>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Provident Fund</th>
                <td> {{payroll.providentFund}} </td>
              </tr>
              <tr>
                <th scope="row">Leave Deduction</th>
                <td> {{payroll.unpaidLeave}} </td>
              </tr>
              <tr>
                <th scope="row">Tax</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Total Deduction</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h4 class="fw-bold text-center">
        Net Salary: 
      </h4>
    </div>
  </div>
</mat-dialog-content>
<!-- </div> -->

<mat-dialog-actions align="end">
    <button mat-raised-button class="btn btn-sm" color="primary">Print</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>


