
<!-- <div class="d-flex flex-row mt-3 mx-5">
   <div>
      <button mat-raised-button class="btn btn-sm" color="primary">Print</button>
    </div> -->
    <!-- <div style="flex: auto"></div> -->
    <!-- <div>
      <button
        mat-raised-button
        class="btn btn-sm bg-secondary-subtle"
        routerLink="/payroll"
      >
        Back
      </button>
    </div> -->
  <!-- </div> --> 
<div
  class="m-2 d-flex align-items-center justify-content-center h-50"
  style="background-color: #e2eff1"
>
  <div class="card m-2 w-75 h-75">
    <div class="card-body" style="color: #555273; background-color: #fcfcfc">
      <p class="text-center fs-3 fw-medium">
        PAYSLIP FOR THE MONTH OF 
      </p>
      <div class="d-flex flex-row">
        <div>
          <img
            src="../assets/logo.webp"
            alt=""
            width="110px"
            style="display: block; margin: auto"
          />
        </div>
        <div style="flex: auto"></div>
        <div>
          <p>PAYSLIP #</p>
        </div>
      </div>
      <div>
        <p style="margin: 0">Name</p>
        <p style="margin: 0">Designation</p>
        <p style="margin: 0">TIN: </p>
        <p>Joning Date: </p>
      </div>
      <div class="row gap-4">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <h1 style="margin: 0">Earnings</h1>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Basic</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Conveyance</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Medical Allowence</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Total Earnings</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover">
            <thead>
              <h1 style="margin: 0">Deductions</h1>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Provident Fund</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Leave Deduction</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Tax</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Total Deduction</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h4 class="fw-bold text-center">
        Net Salary: 
      </h4>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
    <button mat-raised-button class="btn btn-sm" color="primary">Print</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>


