<mat-card class="mat-card">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title> {{ title }} </mat-card-title>
    </mat-card-header>
    <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
      <!--Employee Form-->

      <div class="row">
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>First Name</mat-label>
            <input
              matInput
              placeholder="Your First Name"
              formControlName="firstName"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Give your Email"
              formControlName="email"
            />
            <mat-error *ngIf="true"
              >Email is <strong>required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Telephone</mat-label>
            <span matTextPrefix>+088 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder=""
              formControlName="phoneNumber"
            />
            <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Ssc Points</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="ssc"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Ssc Passing Year</mat-label>
            <input matInput type="date" formControlName="sscPassingYear" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Hsc Points</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="hsc"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Hsc Passing Year</mat-label>
            <input matInput type="date" formControlName="hscPassingYear" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Undergraduate Points</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="undergraduate"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Undergraduate Passing Year</mat-label>
            <input
              matInput
              type="date"
              formControlName="undergraduatePassingYear"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Postgraduate Points</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="postgraduate"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Postgraduate Passing Year</mat-label>
            <input
              matInput
              type="date"
              formControlName="postgraduatePassingYear"
            />
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Date Of Birth</mat-label>
            <input matInput type="date" formControlName="dob" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Road No</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="roadNo"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Zip Code</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="zipCode"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>City</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="city"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Country</mat-label>
            <input
              matInput
              placeholder="Your Last Name"
              formControlName="country"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Select Designation</mat-label>
            <mat-select formControlName="jobId">
              <mat-option
                *ngFor="let job of designationList"
                [value]="job.id"
              >
                {{ job.jobTitle }}
              </mat-option>
            </mat-select>
            <!-- <mat-hint>Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Select Department</mat-label>
            <mat-select formControlName="departmentId">
              <mat-option
                *ngFor="let dep of departmentList"
                [value]="dep.id"
              >
                {{ dep.departmentName }}
              </mat-option>
            </mat-select>
            <!-- <mat-hint>Here's the dropdown arrow ^</mat-hint> -->
          </mat-form-field>
        </div>
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-primary mx-2" value="submit" />
        <input *ngIf="editing"
          type="button"
          [routerLink]="['/profile', employee.id]"
          value="Back"
          class="btn bg-body-secondary mx-2"
        />
        <input *ngIf="!editing"
          type="button"
          [routerLink]="['/employee']"
          value="Back"
          class="btn bg-body-secondary mx-2"
        />
      </div>
      <!--
              <mat-form-field class="form-field">
                  <mat-label>Password</mat-label>
                  <input matInput type="password">
              </mat-form-field>
  
             
              
        <mat-form-field class="form-field">
          <mat-label>Hire Date</mat-label>
          <input matInput type="date" formControlName="hireDate" />
        </mat-form-field>
  
              <mat-checkbox>Hide required marker</mat-checkbox>
              <div>
                  <label>Float label: </label>
                  <mat-radio-group>
                    <mat-radio-button value="auto">Auto</mat-radio-button>
                    <mat-radio-button value="always">Always</mat-radio-button>
                  </mat-radio-group>
                </div>
  
                -->
    </form>
  </mat-card-content>
</mat-card>
