<mat-card class="mat-card">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>Add {{title}} </mat-card-title>
    </mat-card-header>
    <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">

      <!--Employee Form-->

        <mat-form-field class="form-field">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Your First Name" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Your Last Name" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Give your Email" formControlName="email" />
          <mat-error *ngIf="true">Email is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Telephone</mat-label>
          <span matTextPrefix>+088 &nbsp;</span>
          <input type="tel" matInput placeholder="" formControlName="phoneNumber" />
          <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
        </mat-form-field>

        <div class="row">
          <div class="col"> <mat-form-field>
              <mat-label>Select Disigantion</mat-label>
              <mat-select formControlName="department">
                <mat-option value=1>Manager</mat-option>
                <mat-option value=1>Sr. Officer</mat-option>
                <mat-option value=1>Trainee</mat-option>
              </mat-select>
              <mat-hint>Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field>
              <mat-label>Select Department</mat-label>
              <mat-select formControlName="job">
                <mat-option value=1>Admin</mat-option>
                <mat-option value=1>Account</mat-option>
                <mat-option value=1>Salse</mat-option>
              </mat-select>
              <mat-hint>Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>

          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="hireDate" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      <input type="submit" class="btn btn-primary d-block mx-auto" value="submit">
      <!--
            <mat-form-field class="form-field">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>

           
            
      <mat-form-field class="form-field">
        <mat-label>Hire Date</mat-label>
        <input matInput type="date" formControlName="hireDate" />
      </mat-form-field>

            <mat-checkbox>Hide required marker</mat-checkbox>
            <div>
                <label>Float label: </label>
                <mat-radio-group>
                  <mat-radio-button value="auto">Auto</mat-radio-button>
                  <mat-radio-button value="always">Always</mat-radio-button>
                </mat-radio-group>
              </div>

              -->
    </form>
  </mat-card-content>
</mat-card>