<div class="container-fluid">
<!-- Breadcrumb -->
<h1 class="fw-bold"><i class="fa-solid fa-house fs-1 m-2"></i>Dashboard</h1>
<mat-divider class="m-2"></mat-divider>
  <!-- /Breadcrumb -->
</div>


<div class="row">
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle class="card-text1"><i class="fa-solid fa-users fs-1"></i><span class="fs-1 fw-bolder mx-5">70</span></mat-card-subtitle>
        <mat-card-title>Total Employee</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button align="end">View List</button>
       
      </mat-card-actions>
      <mat-card-footer class="card-div1">
       
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle class="card-text2"><i class="fa-solid fa-people-roof fs-1"></i><span class="fs-1 fw-bolder mx-5">70</span></mat-card-subtitle>
        <mat-card-title>Attendence</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button align="end">View List</button>
       
      </mat-card-actions>
      <mat-card-footer class="card-div2">
       
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle class="card-text3"><i class="fa-solid fa-money-bill fs-1"></i><span class="fs-1 fw-bolder mx-5">$17000</span></mat-card-subtitle>
        <mat-card-title>Total Salary</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button align="end">View List</button>
       
      </mat-card-actions>
      <mat-card-footer class="card-div3">
       
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header >
        <mat-card-subtitle class="card-text4"><i class="fa-solid fa-user-tie fs-1 "></i><span class="fs-1 fw-bolder  mx-4">70</span></mat-card-subtitle>
        <mat-card-title>Total Employee</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button align="end">View List</button>
       
      </mat-card-actions>
      <mat-card-footer class="card-div4">
       
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class="row mt-5 g-5">
  <div class="col">
    <div>
      <app-emp-dep-chart></app-emp-dep-chart>
      <div class="card-div1"></div>
    </div>
  </div>
  <div class="col">
    <h1 class="fw-bolder text-center">Task List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Title</th>
          <th>Status</th>
          <th><i class="fa-solid fa-plus"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="card-div1"></div>
  </div>
  <div class="col"></div>
</div>




