.textColor{
    color:#421820;
}

.card-text1{
    color: #284b63;
}

.card-text2{
    color: #284b63;
}
.card-text3{
    color: #284b63;
}
.card-text4{
    color: #284b63;
}

.card-div4{
    background-color: #284b63;
    height: 8px;
}

.card-div1{

    background-color: #284b63;
    height: 8px;
}


.card-div3{

    background-color: #284b63;
    height: 8px;
}

.card-div2{

    background-color: #284b63;
    height: 8px;
}

.card-custom{
    height: 200px;
}

.custom-footer{
    
    background-color: #284b63;
    height: 8px;
}