<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h1 class="m-0">Welcome Ashiq</h1>
      <h3 class="m-0">Good Morning</h3>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card radius-10 border-start border-0 border-3 border-info">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary fs-6 fw-bold">Total Employee</p>
                <h4 class="my-1 fs-4 text-info">{{ totalEmployee }}</h4>
                <!-- <p class="mb-0 font-13">+2.5% from last week</p> -->
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"
              >
                <i class="fa fa-users"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-3 border-danger"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Today Attendent</p>
                <h4 class="my-1 text-danger">{{ todayPresent }}</h4>
                <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"
              >
                <i class="fa fa-people-roof"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-3 border-success"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Total Salary</p>
                <h4 class="my-1 text-success">
                  {{ totalSalary | currency : "BDT " }}
                </h4>
                <!-- <p class="mb-0 font-13">-4.5% from last week</p> -->
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"
              >
                <i class="fa fa-bangladeshi-taka-sign"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-3 border-warning"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">On Leave</p>
                <h4 class="my-1 text-warning">8.4K</h4>
                <!-- <p class="mb-0 font-13">+8.4% from last week</p> -->
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"
              >
                <i class="fa fa-users"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ------------- -->
  <div class="row g-5">
    <div class="col">
      <div class="card">
        <app-emp-dep-chart></app-emp-dep-chart>
        <div class="card-div1"></div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-white">
              <div class="card-body">
                <form>
                  <input
                    type="text"
                    class="form-control add-task"
                    placeholder="New Task..."
                  />
                </form>
                <ul class="nav nav-pills todo-nav">
                  <li role="presentation" class="nav-item all-task active">
                    <a class="nav-link">All</a>
                  </li>
                  <li role="presentation" class="nav-item active-task">
                    <a class="nav-link">Active</a>
                  </li>
                  <li role="presentation" class="nav-item completed-task">
                    <a class="nav-link">Completed</a>
                  </li>
                </ul>
                <div class="todo-list">
                  <div class="todo-item">
                    <div class="checker">
                      <span class=""><input type="checkbox" /></span>
                    </div>
                    <span>Create theme</span>
                    <a class="float-right remove-todo-item"
                      ><i class="icon-close"></i
                    ></a>
                  </div>
                  <div class="todo-item">
                    <div class="checker">
                      <span class=""><input type="checkbox" /></span>
                    </div>
                    <span>Work on wordpress</span>
                    <a class="float-right remove-todo-item"
                      ><i class="icon-close"></i
                    ></a>
                  </div>

                  <div class="todo-item">
                    <div class="checker">
                      <span class=""><input type="checkbox" /></span>
                    </div>
                    <span>Organize office main department</span>
                    <a class="float-right remove-todo-item"
                      ><i class="icon-close"></i
                    ></a>
                  </div>
                  <div class="todo-item">
                    <div class="checker">
                      <span><input type="checkbox" /></span>
                    </div>
                    <span>Error solve in HTML template</span>
                    <a class="float-right remove-todo-item"
                      ><i class="icon-close"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-div1"></div>
    </div>
    <div class="col">
      <div class="card">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="3" class="fs-4">Arival Time</th>
            </tr>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Check In</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="card-div1"></div>
      </div>
    </div>
  </div>
</div>
