.textColor{
    color:#421820;
}

.card-text1{
    color: #C70039;
}

.card-text2{
    color: #C70039;
}
.card-text3{
    color: #C70039;
}
.card-text4{
    color: #C70039;
}

.card-div4{
    background-color: #C70039;
    height: 8px;
}

.card-div1{

    background-color: #C70039;
    height: 8px;
}


.card-div3{

    background-color: #C70039;
    height: 8px;
}

.card-div2{

    background-color: #C70039;
    height: 8px;
}